/*-- scss:defaults --*/
// Base document colors
$body-bg: #772059;

$body-color: #FFFFF0;


.card-body{
    border-radius: 2em;
    transition: 0.25s;
    color: black !important;
    background-color: #FFFFF0;
}

.card-body:hover{
    background-color: lightgrey;
    transition: 0.25s;
}


