/* css styles */

.quarto-light{
    background-color: #772059;
    color: #FFFFF0;
}


.quarto-grid-item{
    border-radius: 2em;
    transition: 0.25s;
    background-color: #FFFFF0
}

.quarto-grid-item:hover{
    background-color: lightgrey;
    transition: 0.25s;
}


